*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(246, 246, 248);
   
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
position: fixed;
font-size: large;
text-transform: uppercase;
background-color: rgb(107, 150, 135);

}

nav ul li {
    display: inline-block;
    margin: 30px 13px;
    font-weight: bold;
    color: beige;
    
}
nav ul li a:hover{
    color: black;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 75%;
    height: 100vh;
    padding: 5rem;
    
}

h3{
    color: hsl(0, 0%, 95%);
    padding-top: 1.5cm;
    padding-bottom: 1.5cm;
    font-family: 'Big Shoulders Display';
    
}
 p{
color: hsla(0, 0%, 100%, );
font-family: 'Lexend Deca';

}

.first{
    background-color:hsl(31, 77%, 52%);
   padding:2cm;
   height: 100vh;
   width: 75%;
   margin-top: 90px;
   

}

.second{
    background-color:hsl(184, 100%, 22%);
    padding: 2cm;
    height: 100vh;
  margin-top: 90px;
  width: 90%;
   
}

.third{
background-color: hsl(179, 100%, 13%);
padding: 2cm;
height: 100vh;
margin-top: 20%;

width: 95%;

}



.first button{
background-color: hsl(0, 0%, 95%);
border: 2px solid hsl(0, 0%, 95%);
color:  hsl(31, 77%, 52%);
margin-top: 10px;
padding: 2.5px;
border-radius: 5cm;

}

.second button{
    background-color:hsl(0, 0%, 95%);  
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
    margin-top: 100px;
    padding: 2.5px;
    border-radius: 5cm;
    
   }


.third button{
    background-color:hsl(0, 0%, 95%) ;
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
    margin-top: 10px;
    padding: 2.5px;
    border-radius: 2cm;
    
}

/*media query*/
 @media (max-width: 375px) 
    display: inline-block;
    

    /*.sedan, .suv, .luxury{
        width: 100%;
        border-radius: 0;
        /*}